@page "/caracteristica"
@using EscudoNarrador.Shared.Entidades
@using EscudoNarrador.Shared.Enums
@using EscudoNarrador.Shared.Dtos.Entrada
@inject HttpClient Http

<h1>Características</h1>

<p>As características já cadastradas</p>

@if (caracteristicas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@caracteristica" OnSubmit="@ValidarSubmeter">
        <p>
            <label>
                Nome:
                <InputText @bind-Value="caracteristica.Nome" />
            </label>
        </p>
        <p>
            <label>
                Tags:
                <InputTextArea @bind-Value="tags" />
            </label>
        </p>
        <p>
            <label>
                Pontos:
                <InputNumber @bind-Value="caracteristica.Pontos" />
            </label>
        </p>
        <p>
            <label>
                Ponto:
                <InputCheckbox @bind-Value="Ponto" />
            </label>
            <label>
                Fixo:
                <InputCheckbox @bind-Value="Fixo" />
            </label>
            <label>
                Expansível:
                <InputCheckbox @bind-Value="Expansivel" />
            </label>
            <label>
                Consumível:
                <InputCheckbox @bind-Value="Consumivel" />
            </label>
            <label>
                Informativo:
                <InputCheckbox @bind-Value="Informativa" />
            </label>
        </p>
        <button type="submit">Cadastrar</button>
    </EditForm>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Tags</th>
                <th>Pontos Fixos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carac in caracteristicas)
            {
                <tr>
                    <td>@carac.Nome</td>
                    <td>@carac.Tipo.ToString()</td>
                    <td>@string.Join(", ", carac.Tags)</td>
                    <td>@carac.Pontos</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Caracteristica[] caracteristicas;

    private Caracteristica caracteristica = new Caracteristica();
    private string tags;

    private Dictionary<TipoCaracteristica, bool> tipos;

    private bool Ponto;
    private bool Fixo;
    private bool Expansivel;
    private bool Consumivel;
    private bool Informativa;


    private async void ValidarSubmeter()
    {
        caracteristica.Tags = tags.Contains(";") ? tags.Split(';') : tags.Split(',');
        if (Ponto)
            caracteristica.Tipo = caracteristica.Tipo | TipoCaracteristica.Ponto;
        if (Fixo)
            caracteristica.Tipo = caracteristica.Tipo | TipoCaracteristica.Fixo;
        if (Expansivel)
            caracteristica.Tipo = caracteristica.Tipo | TipoCaracteristica.Expansivel;
        if (Consumivel)
            caracteristica.Tipo = caracteristica.Tipo | TipoCaracteristica.Consumivel;
        if (Informativa)
            caracteristica.Tipo = caracteristica.Tipo | TipoCaracteristica.Informativa;

        var resposta = await Http.PostAsJsonAsync("/api/caracteristica", AddCaracteristicaDto.Construir(caracteristica));
        if (resposta.IsSuccessStatusCode)
            Console.WriteLine(resposta.ReasonPhrase);

        LimparFormulario();
    }

    private void LimparFormulario()
    {
        caracteristica = new Caracteristica();
        tags = string.Empty;
        Ponto = false;
        Fixo = false;
        Expansivel = false;
        Consumivel = false;
        Informativa = false;
    }

    public void changeOption(ChangeEventArgs __e, TipoCaracteristica key)
    {
        tipos[key] = !tipos[key];
    }

    protected override async Task OnInitializedAsync()
    {
        LimparFormulario();
        try
        {
            caracteristicas = await Http.GetFromJsonAsync<Caracteristica[]>("/api/caracteristica");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
